{% extends 'page.html' %}

{% block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ pathto('site.css', 1) }}" type="text/css" />
{% endblock %}

{% block body %}
  <div class="ui three stackable cards" id="docs-projects">
    {% for project in projects %}
      <div class="ui card">
        <div class="content">
          <a class="header">{{ project.name }}</a>
          {% if project.meta_url %}
            <a class="meta" href="{{ project.meta_url }}">{{ project.meta }}</a>
          {% else %}
            <span class="meta">{{ project.meta }}</span>
          {% endif %}
          <div class="description">{{ project.description }}</div>

          {% if project.topics %}
            <div>
              <div class="ui horizontal divider">Topics</div>

              <div class="ui vertical list">
                {% for topic in project.topics %}
                  <a class="item" href="{{ topic.url }}">
                    <i class="help icon"></i>
                    <div class="content">
                      <div class="description">{{ topic.topic }}</div>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>

        <div class="extra content right aligned">
          <div class="ui horizontal list">
            {% for version in project.versions %}
              <div class="item">
                <a class="ui label" href="{{ version.url }}" title="{{ version.version }}">
                  <i class="code branch icon"></i>
                  <span>{{ version.version }}</span>
                  {% if version.show_language %}
                    <span class="detail grey">{{ version.language }}</span>
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="ui raised segment">
    <h2 class="ui header">Metadata files</h2>
    <p>
      We publish crawler and LLM metadata to make documentation discovery and indexing
      consistent across tools.
    </p>
    <div class="ui divided relaxed list">
      <div class="item">
        <i class="file outline icon"></i>
        <div class="content">
          <a class="header" href="https://docs.readthedocs.com/llms.txt">llms.txt</a>
          <div class="description">LLM guidance and documentation structure.</div>
        </div>
      </div>
      <div class="item">
        <i class="file outline icon"></i>
        <div class="content">
          <a class="header" href="https://docs.readthedocs.com/robots.txt">robots.txt</a>
          <div class="description">Crawler access rules for this site.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
